<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"  id="cordova-plugin-ionic-migrate-storage" version="0.3.0">
    <name>cordova-plugin-ionic-migrate-storage</name>
    <description>
        Cordova plugin that migrates localStorage datafrom `cordova-plugin-ionic-webview` 1.x to 4.x
        This works iOS only!
    </description>
    <keywords>ecosystem:cordova,cordova-plugin,cordova,cordova-ios,ios,uiwebview,wkwebview,localstorage</keywords>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MigrateStorage">
                <param name="ios-package" value="MigrateStorage" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/MigrateStorage.h" />
        <source-file src="src/ios/MigrateStorage.m" />

        <framework src="FMDB" type="podspec" spec="~> 2.7.4" />
    </platform>
</plugin>
